.article-cover-img {
    height: 50rem;
    width: 100%;
    background-size: cover;
    border-radius: 3px;
}

.article-title {
    margin: 3rem 0;
    text-align: left;
    font-size: 5rem;
    font-weight: 400;
}

.article-content {
    white-space: pre-wrap;
}

.article-container {
    padding-bottom: 10rem;
}

.article-back {
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 1rem;
    display: block;
}

.action {
    margin-top:2rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}